/* 
    RESET
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    DEBUG
*/

.debug header{
    background-color: #add8e6;
}

.debug .background-bot{
    background-color: #00008b;
}

.debug .header-top{
    background-color: #daa520;
    height: 50px;
    border: dashed;
}

.debug .header-bot{
    background-color: #ee82ee;
    height: 500px;
    border: dashed;
}

.debug section:nth-child(2n){
    background-color: #d3d3d3;
}

.debug .row{
    height: 400px;
}

.debug .container-big{
    background-color: #1e90ff;
    border: dashed;
}

.debug .container-small{
    background-color: #ffc0cb;
    border: dashed;
}

.debug .last-container{
    background-color: #228b22;
    height: 900px;
    border: dashed;
}

.debug footer{
    background-color: #23272a;
}

.debug .footer-top{
    height: 500px;
}

.debug .box-1{
    background-color: #f08080;
    border: dashed;
}

.debug .box-2{
    background-color: #20b2aa;
    border: dashed;
}

.debug .footer-bot{
    background-color: #7fffd4;
    height: 50px;
    border: dashed;
}

/* 
    COMMON
*/

.container{
    max-width: 1200px;
    margin: auto
}

header{
    padding-top: 16px;
    padding-bottom: 4px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.background-bot{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 
    MAIN
*/

section{
    padding: 40px;
}

.row{
    display: flex;
}

.container-big{
    width: 60%;
}

.container-small{
    width: 40%;
}

.last-container{
    width: 100%;
}

/* 
    FOOTER
*/

footer{
    padding: 16px 0;
}

.footer-top{
    display: flex;
    padding-bottom: 70px;
}

.box-1{
    width: 25%;
}

.box-2{
    width: 18.75%;
}

.footer-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}